.box {
  background-color: #008080;
  color: white;
  width: 58%;
  padding: 3rem;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 2em;
}

section {
  text-align: center;
}

.name {
  font-weight: 600;
  font-size: xx-large;
  margin: 1em;
}
