.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  text-align: center;
}

.homePage div ul {
  margin-top: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.homePage div ul li {
  width: 20%;
  margin: 0 auto;
}
