.detailsPage {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  /*   width: 100%;
  height: 100%; */
}

.navButtonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.pkmName {
  font-weight: 600;
  font-size: xx-large;
}
